/* Set variables */
:root {
    --primary-color: #333333;
    --secondary-color: #FFFFFF;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --mobile-breakpoint: 768px;
  }

  
  /* Reset default styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    list-style-type: none;
  }

  .highlight 
  {
    width: 70px;
    height: 2px;
    margin: 0 auto;
    background-color: #15e4f1;
  }

  a:hover
  {
    cursor: pointer;
  }

body 
{
  font-family: 'oxygen';
}


.scrolled 
{
  background-color: #333333; 
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 10px;
}



/* Header **** */ 



header 
{
  position: relative;
  height: auto;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#logo-and-menu-burger
{
  width: 90%;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}


#logo-and-menu-burger-container 
{
  padding-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu-toggle
 {
  width: auto;
  height: auto;
  cursor: pointer;
}

.bar {
  width: 80px;
  height: 8px;
  border: 2px solid gainsboro;
  margin-bottom: 8px;
  transition: transform 0.3s ease-in-out;
}


#hero-images 
{
  width: 100%;
  height: 90vh;
  background:  url('mobile.png') bottom center no-repeat, url('ogaga.png') bottom center no-repeat;
}

#hero-texts 
{
  margin-top: -2px;
  width: 100%;
  height: auto;
  background-color: #15e4f1;
}

#hero-text-one, #hero-text-two, #hero-text-three 
{
  text-align: center;
  color: white; 
}


#hero-text-one 
{
  font-size: 35px;
}

#hero-text-two 
{
  font-size: 50px; 
}

#hero-text-three 
{
  font-size: 40px; 
}




/** Hero ***/

@media only screen and ( min-width: 500px )
{
  #hero-images 
  {
    background:  url('mobile.png') bottom center no-repeat, url('ogaga.png') bottom center no-repeat; 
  }

}


@media only screen and ( min-width: 1000px )
{
  #hero-images 
  {
    background:  url('mobile.png') bottom center no-repeat, url('ogaga.png') bottom center no-repeat;
  }
}


@media only screen and ( min-width: 1000px )
{
  #hero-images 
  {
    background:  url('curve4.png') bottom center no-repeat, url('ogaga.png') bottom center no-repeat;
  }
}


.menu-toggle
 {
  width: auto;
  height: auto;
  cursor: pointer;
}

.bar {
  width: 80px;
  height: 8px;
  border: 2px solid gainsboro;
  margin-bottom: 8px;
  transition: transform 0.3s ease-in-out;
}

.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(10px, 11px);
  background-color: white;
}

.open .bar:nth-child(2) {
  opacity: 0;
  background-color: white;
}

.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -11px);
  background-color: white;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.menu ul 
{
  list-style-type: none;
}

.menu ul li 
{
  margin: 10px 0; 
}

.menu ul li a 
{
    color: white; 
}

.menu.open {
    opacity: 1;
  pointer-events: auto;
  color: white; 
  z-index: 50; 
}

.menu a 
{
  text-decoration: none;
  color: white; 
  font-size: 35px;
}

.display-header-over 
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; 
    width: 100%;
}


#resume-and-contact-buttons 
{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}


#resume-button 
{
  margin-right: 50px;
  padding: 5px; 
  border-radius: 4px;
  background-color: #333333;
  color: white; 
}

#resume-button a, #contact-button a 
{
  text-decoration: none;
  color: white; 
}


#contact-button 
{
  margin-left: 50px; 
  padding: 5px; 
  border-radius: 4px;
  background-color: #333333;
  color: white; 
}





/* Header Ends */ 





/* ABOUT SECTION */ 

#about-section 
{
    width: 100%;
    height: 100%;

    display: flex; 
    flex-direction: column;
    margin-top: 150px;
}

#about-canvas 
{
    background-color: white;
}

#about-content 
{
    height: 50vh;
    color: #333333; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-content h4 
{
    font-size: 70px; 
    margin-bottom: 15px;
}

#about-content p 
{
    font-size: 45px; 
    margin-top: 15px; 
}

@media screen and ( max-width: 900px ){

  #about-content h4 
  {
      font-size: 65px; 
  }

  #about-content p 
  {
      font-size: 45px; 
  }

        #about-section 
        {
            display: flex; 
            flex-direction: column;
        }

        #about-content
        {
            height: 40vh;
        }

        #about-content 
        {
            width: 100%;
        }

}

@media screen and ( max-width: 500px ){

    
    #about-content h4 
    {
        font-size: 50px; 
    }

    #about-content p 
    {
        font-size: 30px; 
    }

}


/* ABOUT SECTION */ 






/* FOOTER  SECTION */

/*
  Destop
    Sub Heading 
      25px 
*/ 


footer 
{
  margin-top: 150px; 
  width: 100%; 
  height: auto;
  background-color: #0a0908;
  color: white; 

  display: flex;
}


#footer-image-container
{
    width: 50%; 
    height: auto;
    padding: 10px; 

    display: flex;
    justify-content: center;
    align-items: center;
}


#footer-image-container img 
{
  width: auto;
  height: auto;
  margin-bottom: 0;
}

#footer-click-span
{
  color: #15e4f1;
}

#footer-text-container
{
  width: 50%;
  height: inherit;
  padding: 10px; 

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#footer-copy-right 
{
  font-size: 20px; 
  text-align: center;
  margin-bottom: 4px;
}

#footer-header 
{
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
}

#footer-social-images-container 
{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

#footer-social-images-container img 
{
  margin: 10px; 
}

#footer-social-images-container img:hover
{
  cursor: pointer;
}



#footer-copy-right 
{

}


/* Tablet */ 

@media only screen and (max-width: 900px) {


footer 
{
  display: flex;
  flex-direction: column;
}


#footer-image-container
{
    width: 100%; 
}


#footer-text-container
{
  width: 100%; 
}

#footer-social-images-container img 
{
  margin: 10px;
}

} 

@media only screen and (max-width: 500px) {

      #footer-copy-right 
      {
        font-size: 18px; 
        text-align: center;
      }
      
      #footer-header 
      {
        font-size: 30px;
        text-align: center;
      }

      #footer-image-container img 
      {
        width: 100px;
        height: 100px;
        margin-bottom: 0;
      }

  } 
  













/* BLOG  SECTION */

#special-visit-blog-button
{
  text-align: center;
}


#special-visit-blog-button a 
{
  padding: 10px; 
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  font-size: 30px; 
  color: white;
  border-radius: 3px;
  background-color: #15e4f1;
}


#special-blog-title 
{
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 50px;
  color: #333333;
  text-align: center;
}


#blog-description 
{
    color: #333333; 
    font-size: 30px; 
    text-align: center;
    margin-bottom: 40px;
}


button 
{
  background-color: none;
}


#blog-section-container 
{
  width: 100%;
  height: auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 50px; 
  background-color: #F6F5FC;
  margin-bottom: 20px;

}


#blog-wrapper 
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px; 
}

#blog 
{
  width: 100%;
  height: 300px;
  background-color: #091771;
  background: url("blog.jpg");
  padding: 20px; 
  color: white; 
  text-align:left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


#blog-section-title 
{
  font-size: 40px; 
  visibility: hidden; 
  padding: 15px; 
  text-align: center;
  font-weight: 600;
}

#blog-section-text 
{
  visibility: hidden;
  font-size: 30px;
  text-align: justify;
  word-spacing: 5px;
  text-align: center;
  padding: 15px;
  /* text-indent: 50px; */
}


#blog-section-button 
{
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    font-size: 25px; 
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}


#visit-blog-button-container
{
 width: 100%;
 height: auto;

 display: flex;
 justify-content: center;
 align-items: center;
}


#visit-blog-button 
{
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  background-color: none;
  font-size: 30px; 
  color: #091771;
  border: 3px solid #091771;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
}


#visit-blog-button a 
{
  color: #091771; 
  text-decoration: none;
}

#visit-blog-button a:visited 
{
  color: #091771; 
  text-decoration: none;
}

a 
{
  color: #091771; 
  text-decoration: none;
}

@media only screen and (max-width: 400px) {

  #blog-section-text 
  {
    padding: 10px; 
    margin-bottom: 15px; 

    font-size: 30px;
  text-align: justify;
  word-spacing: 5px;
  }
  
  #blog-section-title 
  {
    padding: 15px; 
  }

}



/* BLOG  SECTION */







/*  EXPERIENCES SECTION */


#experience-section-header 
{
  width: 100%;
  height: auto;
  font-size: 55px; 
  text-align: center;
  color:#333333; 
  margin-top: 150px; 
  margin-bottom: 40px;
}


#experience-container 
{
    position: relative; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}


.experience 
{
    width: auto;
    height: auto;
    margin-bottom: 50px;
}


.experience-title-and-logo-container
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    color: black; 
}

.experience-logo 
{
    width: 60px; 
    height: auto;
    z-index: 0;
}


.experience-title 
{
  color: black; 
}


.employment-type-container 
{
  margin-top: 15px; 
  margin-bottom: 15px; 
  color: black;  
}


.experience-dates-container
{
    color: black; 
    font-size: 20px; 
}


.experience-text 
{ 
    color: #36454F; 
    font-size: 25px;
}


#more-experiences 
{
    display: none;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: 50;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


#show-more-experiences-button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#show-more-experiences-button {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  font-size: 20px; 
  color: #fff;
  background-color: #15e4f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
}


#experiences-close-button 
{
    padding: 10px; 
    background-color: #07c8f9;
    color: white;
    font-size: 22px; 
}





@media only screen and (max-width: 900px) {

   
    #experience-container , #more-experiences
    {
        flex-wrap: wrap;
    }

    .experience 
    {
        padding: 15px; 
        width: 500px;
        height: auto;
    }    
  
    .experience-logo 
    {
        width: 80px; 
        height: auto;
    }


    .experience-dates-container
    {
        font-size: 20px;
    }


    .experience-text 
    {
        font-size: 58px; 
    }


  .experience-title 
  {
    font-size: 43px; 
  }

  #show-more-experiences-button {
    font-size: 40px; 
  }



  }



  @media only screen and (max-width: 400px) {

   
    #experience-container , #more-experiences
    {
        flex-wrap: wrap;
    }


    .experience 
    {
        width: 100%;
        padding: 10px; 
    }

    .experience-logo 
    {
        width: 50px; 
        height: auto;
    }


    .experience-dates-container
    {
      color: #333333; 
        font-size: 20px; 
    }


    .experience-title 
    {
      font-size: 33px; 
      color: #333333; 
    }


    .experience-text 
    {
      color: #333333; 
        font-size: 25px; 
    }

  
  }


/*  EXPERIENCES SECTION */







/** PROJECTS  */


#projects-section-header 
{
  width: 100%;
  height: auto;
  font-size: 50px; 
  font-weight: 900;
  text-align: center;
  margin-top: 150px; 
  color:#333333; 
  margin-bottom: 10px;
}


#projects {
    padding: 50px 0;
  }
  

  .project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-image img {
    max-width: 300px;
  }


  .project-text {
    width: 80%;
    height: auto;
    margin-top: 20px;
    text-align: center;
    text-align: center;
    color: #36454F; 
  }
  
  .project-title 
  {
    font-size: 45px;
    color: #333333; 
    font-weight: 600;
  }

  .project-text-description 
  {
    font-size: 30px;
    color: #36454F; 
  }

  .project-text span {
    display: block;
    margin-bottom: 10px;
  }
  
  .project-text 
  {
    color: #36454F; 
  }

 .project-text-description {
    color: #AAAAAA; 
  }
  
  
  #more-projects-button {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    font-size: 25px;
    color: #fff;
    background-color: #15e4f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  
  #more-projects-button a 
  {
    text-decoration: none;
    color: #fff; 
  }
  #more-projects-button:hover {
    background-color: #0062cc;
  }
  

  

  @media only screen and (max-width: 400px) {

    
  }